@import "tailwindcss";

:root {
  --ink: #b3c0df;
  --background: #19204d;
  --foreground: #171717;
  --header: #060828;
  --header-light: #19204d;
}

@theme inline {
  --color-ink: var(--ink);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header: var(--header);
  --color-header-light: var(--header-light);
  --font-sans: var(--font-cause);
}

body {
  background-image: url('/wizbowo/background_small.png');
  color: var(--ink);
  font-family: var(--font-cause);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cause);
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}