@import "tailwindcss";

:root {
  --ink: #b3c0df;
  --background: #2764ba;
  --background-border: #08102e;
  --background-hover: #a7b7dc;
  --foreground: #171717;
  --header: #060828;
  --header-light: #19204d;
}

@theme inline {
  --color-ink: var(--ink);
  --color-background: var(--background);
  --color-background-border: var(--background-border);
  --color-background-hover: var(--background-hover);
  --color-foreground: var(--foreground);
  --color-header: var(--header);
  --color-header-light: var(--header-light);
  --font-sans: var(--font-cause);
}

.rounded {
  border: 4px solid var(--background-border);
  border-radius: 8px;
}

body {
  background-image: url('/wizbowo/background_small.png');
  color: var(--ink);
  font-family: var(--font-cause);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-geist-pixel);
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}