@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --space-background: #110223;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-space-background: var(--space-background);
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-arvo);
}

@utility clipped-panel {
  --_clip-size: var(--clip-size, 4) * var(--spacing);

  clip-path: polygon(
    0 calc(var(--_clip-size)),
    60% 0,
    100% calc(var(--_clip-size)),
    100% calc(100% - var(--_clip-size)),
    40% 100%,
    0 calc(100% - var(--_clip-size))
  );
}

@utility squeeze-l {
  clip-path: polygon(
    0 calc(var(--squeeze-size, 2) * var(--spacing)),
    100% 0,
    100% 100%,
    0 calc(100% - var(--squeeze-size, 2) * var(--spacing))
  )
}

@utility squeeze-r {
  clip-path: polygon(
    0 0,
    100% calc(var(--squeeze-size, 2) * var(--spacing)),
    100% calc(100% - var(--squeeze-size, 2) * var(--spacing)),
    0 100%
  )
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--space-background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-arvo);
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}