.post-content {
  h1 {
    font-size: var(--text-4xl);
  }

  h2 {
    font-size: var(--text-2xl);
    margin-top: calc(6 * var(--spacing));
  }

  h3 {
    font-size: var(--text-xl);
    margin-top: calc(4 * var(--spacing));
  }

  h4 {
    font-size: var(--text-lg);
    margin-top: calc(2 * var(--spacing));
  }

  p {
    padding-bottom: calc(2 * var(--spacing));
  }

  ul {
    list-style: disc;
    margin-left: calc(6 * var(--spacing));
    padding-bottom: calc(2 * var(--spacing));
  }

  ol {
    list-style: decimal;
    margin-left: calc(6 * var(--spacing));
    padding-bottom: calc(2 * var(--spacing));
  }

  .publish-date {
    font-size: var(--text-xl);
  }

  .modify-date {
    font-size: var(--text-xl);
    color: var(--color-slate-500);

    margin-left: calc(4 * var(--spacing));
  }

  a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  a.return-link::before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;
    margin-right: 4px;

    background-image: url('/icons/arrow_uturn_left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    
    vertical-align: -2px;
  }

  a[href^=http]::after {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;
    margin-right: 4px;

    background-image: url('/icons/arrow_up_right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    
    vertical-align: -3px;
  }
}