.post-content {
  h1 {
    font-size: var(--text-4xl);
  }

  h2 {
    font-size: var(--text-2xl);
    margin-top: calc(6 * var(--spacing));
  }

  ul {
    list-style: disc;
    margin-left: calc(6 * var(--spacing));
  }

  a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  /* code {
    padding: calc(4 * var(--spacing));
  } */
}