@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --space-background: #110223;
  --code-border: oklch(70.4% 0.04 256.788);
  --code-header: oklch(92.9% 0.013 255.508);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-space-background: var(--space-background);
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-arvo);
}

@utility clipped-panel {
  --_clip-size: var(--clip-size, 4) * var(--spacing);

  clip-path: polygon(
    0 calc(var(--_clip-size)),
    60% 0,
    100% calc(var(--_clip-size)),
    100% calc(100% - var(--_clip-size)),
    40% 100%,
    0 calc(100% - var(--_clip-size))
  );
}

@utility squeeze-l {
  clip-path: polygon(
    0 calc(var(--squeeze-size, 2) * var(--spacing)),
    100% 0,
    100% 100%,
    0 calc(100% - var(--squeeze-size, 2) * var(--spacing))
  )
}

@utility squeeze-r {
  clip-path: polygon(
    0 0,
    100% calc(var(--squeeze-size, 2) * var(--spacing)),
    100% calc(100% - var(--squeeze-size, 2) * var(--spacing)),
    0 100%
  )
}

figure[data-rehype-pretty-code-figure] {
  margin-top: calc(2 * var(--spacing));
  margin-bottom: calc(2 * var(--spacing));
  
  border: 2px solid var(--code-border);
}

figcaption[data-rehype-pretty-code-title] {
  padding: calc(2 * var(--spacing));
  padding-bottom: calc(1 * var(--spacing));

  background: var(--code-header);
  font-family: var(--default-mono-font-family);
}

pre {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre;
}

pre > code {
  padding: calc(2 * var(--spacing));
  padding-top: calc(1 * var(--spacing));
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

/* @media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
} */

body {
  background: var(--space-background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-arvo);
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}